In [104]:
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Conv2D, MaxPooling2D
from keras.utils import np_utils
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [105]:
df = pd.read_csv('Bank_Customers.csv')
df.drop(['RowNumber','CustomerId','Surname'], axis=1,inplace=True)

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [107]:
X = df.drop(['Exited'],axis=1)
y = df['Exited']

In [108]:
le = LabelEncoder()
ohe = OneHotEncoder()
scaler = StandardScaler()

In [109]:
X['Balance']

0            0.00
1        83807.86
2       159660.80
3            0.00
4       125510.82
          ...
9995         0.00
9996     57369.61
9997         0.00
9998     75075.31
9999    130142.79
Name: Balance, Length: 10000, dtype: float64

In [110]:
X['Gender'] = le.fit_transform(X['Gender'])
X['Balance'] = scaler.fit_transform(X['Balance'].values.reshape(-1,1))
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,-1.225848,1,1,1,101348.88
1,608,Spain,0,41,1,0.117350,1,0,1,112542.58
2,502,France,0,42,8,1.333053,3,1,0,113931.57
3,699,France,0,39,1,-1.225848,2,0,0,93826.63
4,850,Spain,0,43,2,0.785728,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,-1.225848,2,1,0,96270.64
9996,516,France,1,35,10,-0.306379,1,1,1,101699.77
9997,709,France,0,36,7,-1.225848,1,0,1,42085.58
9998,772,Germany,1,42,3,-0.022608,2,1,0,92888.52
9999,792,France,0,28,4,0.859965,1,1,0,38190.78

In [111]:
geo = pd.get_dummies(X['Geography'])
geo

      France  Germany  Spain
0          1        0      0
1          0        0      1
2          1        0      0
3          1        0      0
4          0        0      1
...      ...      ...    ...
9995       1        0      0
9996       1        0      0
9997       1        0      0
9998       0        1      0
9999       1        0      0

[10000 rows x 3 columns]

In [112]:
X.drop(['Geography'],axis=1,inplace=True)

In [113]:
X = pd.concat((X,geo),axis=1)
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain
0,619,0,42,2,-1.225848,1,1,1,101348.88,1,0,0
1,608,0,41,1,0.117350,1,0,1,112542.58,0,0,1
2,502,0,42,8,1.333053,3,1,0,113931.57,1,0,0
3,699,0,39,1,-1.225848,2,0,0,93826.63,1,0,0
4,850,0,43,2,0.785728,1,1,1,79084.10,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,-1.225848,2,1,0,96270.64,1,0,0
9996,516,1,35,10,-0.306379,1,1,1,101699.77,1,0,0
9997,709,0,36,7,-1.225848,1,0,1,42085.58,1,0,0
9998,772,1,42,3,-0.022608,2,1,0,92888.52,0,1,0
9999,792,0,28,4,0.859965,1,1,0,38190.78,1,0,0

In [114]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=12)

In [115]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [ ]:
model = Sequential(X_train, y_train)