In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder,StandardScaler,MinMaxScaler
import numpy as np
from sklearn.model_selection import train_test_split
import tensorflow as tf

In [2]:
data=pd.read_csv("Bank_Customers.csv")

In [3]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
data = data.drop(columns=['RowNumber','CustomerId','Surname'],axis=1)

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
data.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [7]:
transformers={}
mm=['CreditScore','Age','Tenure','NumOfProducts','EstimatedSalary']

for col in mm:
    scaler=MinMaxScaler()
    scaler.fit(data[col].values.reshape(-1, 1))
    transformers[col] = scaler
    data[col] = scaler.transform(data[col].values.reshape(-1, 1))

In [8]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0.538,France,Female,0.324324,0.2,0.00,0.000000,1,1,0.506735,1
1,0.516,Spain,Female,0.310811,0.1,83807.86,0.000000,0,1,0.562709,0
2,0.304,France,Female,0.324324,0.8,159660.80,0.666667,1,0,0.569654,1
3,0.698,France,Female,0.283784,0.1,0.00,0.333333,0,0,0.469120,0
4,1.000,Spain,Female,0.337838,0.2,125510.82,0.000000,1,1,0.395400,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,0.842,France,Male,0.283784,0.5,0.00,0.333333,1,0,0.481341,0
9996,0.332,France,Male,0.229730,1.0,57369.61,0.000000,1,1,0.508490,0
9997,0.718,France,Female,0.243243,0.7,0.00,0.000000,0,1,0.210390,1
9998,0.844,Germany,Male,0.324324,0.3,75075.31,0.333333,1,0,0.464429,1
9999,0.884,France,Female,0.135135,0.4,130142.79,0.000000,1,0,0.190914,0

In [9]:
scaler=StandardScaler()
scaler.fit(data['Balance'].values.reshape(-1, 1))
transformers['Balance']=scaler
data['Balance']=scaler.transform(data['Balance'].values.reshape(-1, 1))

In [10]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0.538,France,Female,0.324324,0.2,-1.225848,0.000000,1,1,0.506735,1
1,0.516,Spain,Female,0.310811,0.1,0.117350,0.000000,0,1,0.562709,0
2,0.304,France,Female,0.324324,0.8,1.333053,0.666667,1,0,0.569654,1
3,0.698,France,Female,0.283784,0.1,-1.225848,0.333333,0,0,0.469120,0
4,1.000,Spain,Female,0.337838,0.2,0.785728,0.000000,1,1,0.395400,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,0.842,France,Male,0.283784,0.5,-1.225848,0.333333,1,0,0.481341,0
9996,0.332,France,Male,0.229730,1.0,-0.306379,0.000000,1,1,0.508490,0
9997,0.718,France,Female,0.243243,0.7,-1.225848,0.000000,0,1,0.210390,1
9998,0.844,Germany,Male,0.324324,0.3,-0.022608,0.333333,1,0,0.464429,1
9999,0.884,France,Female,0.135135,0.4,0.859965,0.000000,1,0,0.190914,0

In [11]:
mm=['Geography','Gender','HasCrCard','IsActiveMember']
for col in mm:
    encoder=OneHotEncoder()
    encoder.fit(data[col].values.reshape(-1, 1))
    transformers[col] = encoder
    arr = encoder.transform(data[col].values.reshape(-1, 1)).toarray()
    for i in range(arr.shape[1]):
        data[col+'_'+str(i)] = arr[:,i]

In [12]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_0,Geography_1,Geography_2,Gender_0,Gender_1,HasCrCard_0,HasCrCard_1,IsActiveMember_0,IsActiveMember_1
0,0.538,France,Female,0.324324,0.2,-1.225848,0.000000,1,1,0.506735,1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
1,0.516,Spain,Female,0.310811,0.1,0.117350,0.000000,0,1,0.562709,0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2,0.304,France,Female,0.324324,0.8,1.333053,0.666667,1,0,0.569654,1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
3,0.698,France,Female,0.283784,0.1,-1.225848,0.333333,0,0,0.469120,0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
4,1.000,Spain,Female,0.337838,0.2,0.785728,0.000000,1,1,0.395400,0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.842,France,Male,0.283784,0.5,-1.225848,0.333333,1,0,0.481341,0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
9996,0.332,France,Male,0.229730,1.0,-0.306379,0.000000,1,1,0.508490,0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
9997,0.718,France,Female,0.243243,0.7,-1.225848,0.000000,0,1,0.210390,1,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
9998,0.844,Germany,Male,0.324324,0.3,-0.022608,0.333333,1,0,0.464429,1,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
9999,0.884,France,Female,0.135135,0.4,0.859965,0.000000,1,0,0.190914,0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0

In [13]:
data=data.drop(columns=mm,axis=1)

In [14]:
data

,CreditScore,Age,Tenure,Balance,NumOfProducts,EstimatedSalary,Exited,Geography_0,Geography_1,Geography_2,Gender_0,Gender_1,HasCrCard_0,HasCrCard_1,IsActiveMember_0,IsActiveMember_1
0,0.538,0.324324,0.2,-1.225848,0.000000,0.506735,1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
1,0.516,0.310811,0.1,0.117350,0.000000,0.562709,0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
2,0.304,0.324324,0.8,1.333053,0.666667,0.569654,1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
3,0.698,0.283784,0.1,-1.225848,0.333333,0.469120,0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
4,1.000,0.337838,0.2,0.785728,0.000000,0.395400,0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.842,0.283784,0.5,-1.225848,0.333333,0.481341,0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
9996,0.332,0.229730,1.0,-0.306379,0.000000,0.508490,0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
9997,0.718,0.243243,0.7,-1.225848,0.000000,0.210390,1,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
9998,0.844,0.324324,0.3,-0.022608,0.333333,0.464429,1,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
9999,0.884,0.135135,0.4,0.859965,0.000000,0.190914,0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0

In [15]:
data['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [33]:
X=data.drop('Exited',axis=1).to_numpy()
y=data['Exited'].to_numpy()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)
X_test, X_val, y_test, y_val = train_test_split(X_test, y_test, test_size=0.5, random_state=42)

In [34]:
model = tf.keras.models.Sequential()

In [35]:
model.add(tf.keras.layers.Dense(256,activation='relu',input_shape=(15,)))
model.add(tf.keras.layers.Dense(128,activation='relu'))
model.add(tf.keras.layers.Dense(64,activation='relu'))
model.add(tf.keras.layers.Dense(32,activation='relu'))
model.add(tf.keras.layers.Dense(16,activation='relu'))
model.add(tf.keras.layers.Dense(8,activation='relu'))
model.add(tf.keras.layers.Dense(1,activation='sigmoid'))

In [36]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_21 (Dense)            (None, 256)               4096

 dense_22 (Dense)            (None, 128)               32896

 dense_23 (Dense)            (None, 64)                8256

 dense_24 (Dense)            (None, 32)                2080

 dense_25 (Dense)            (None, 16)                528

 dense_26 (Dense)            (None, 8)                 136

 dense_27 (Dense)            (None, 1)                 9

=================================================================
Total params: 48,001
Trainable params: 48,001
Non-trainable params: 0
_________________________________________________________________

In [37]:
model.compile(optimizer = 'adam',
              loss = tf.keras.losses.BinaryFocalCrossentropy(apply_class_balancing=True,alpha=0.8),
              metrics = ['accuracy']
              )

In [38]:
model.fit(X_train,y_train,validation_data=(X_val,y_val),batch_size=32,epochs=150)

Epoch 1/150
282/282 [==============================] - 2s 3ms/step - loss: 0.0514 - accuracy: 0.6439 - val_loss: 0.0453 - val_accuracy: 0.7200
Epoch 2/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0460 - accuracy: 0.7148 - val_loss: 0.0403 - val_accuracy: 0.7820
Epoch 3/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0417 - accuracy: 0.7466 - val_loss: 0.0383 - val_accuracy: 0.7320
Epoch 4/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0397 - accuracy: 0.7646 - val_loss: 0.0385 - val_accuracy: 0.7160
Epoch 5/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0387 - accuracy: 0.7791 - val_loss: 0.0369 - val_accuracy: 0.7960
Epoch 6/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0379 - accuracy: 0.7893 - val_loss: 0.0366 - val_accuracy: 0.7800
Epoch 7/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0381 - accuracy: 0.7881 - val_loss: 0.0384 - val_accuracy: 0.7440
Epoch 8/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0375 - accuracy: 0.7916 - val_loss: 0.0377 - val_accuracy: 0.7760
Epoch 9/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0372 - accuracy: 0.7899 - val_loss: 0.0398 - val_accuracy: 0.8200
Epoch 10/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0368 - accuracy: 0.8002 - val_loss: 0.0394 - val_accuracy: 0.8580
Epoch 11/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0364 - accuracy: 0.7989 - val_loss: 0.0396 - val_accuracy: 0.7560
Epoch 12/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0363 - accuracy: 0.8058 - val_loss: 0.0381 - val_accuracy: 0.7580
Epoch 13/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0358 - accuracy: 0.7984 - val_loss: 0.0401 - val_accuracy: 0.7500
Epoch 14/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0357 - accuracy: 0.8074 - val_loss: 0.0392 - val_accuracy: 0.7840
Epoch 15/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0354 - accuracy: 0.7970 - val_loss: 0.0396 - val_accuracy: 0.6940
Epoch 16/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0352 - accuracy: 0.7959 - val_loss: 0.0401 - val_accuracy: 0.7620
Epoch 17/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0349 - accuracy: 0.7961 - val_loss: 0.0418 - val_accuracy: 0.7640
Epoch 18/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0350 - accuracy: 0.8094 - val_loss: 0.0385 - val_accuracy: 0.7880
Epoch 19/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0342 - accuracy: 0.8073 - val_loss: 0.0423 - val_accuracy: 0.8020
Epoch 20/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0339 - accuracy: 0.8058 - val_loss: 0.0452 - val_accuracy: 0.7920
Epoch 21/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0337 - accuracy: 0.8057 - val_loss: 0.0418 - val_accuracy: 0.7920
Epoch 22/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0332 - accuracy: 0.8177 - val_loss: 0.0411 - val_accuracy: 0.7680
Epoch 23/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0337 - accuracy: 0.8030 - val_loss: 0.0416 - val_accuracy: 0.7720
Epoch 24/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0334 - accuracy: 0.8014 - val_loss: 0.0438 - val_accuracy: 0.7520
Epoch 25/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0325 - accuracy: 0.8031 - val_loss: 0.0476 - val_accuracy: 0.8100
Epoch 26/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0322 - accuracy: 0.8082 - val_loss: 0.0481 - val_accuracy: 0.7680
Epoch 27/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0317 - accuracy: 0.8058 - val_loss: 0.0502 - val_accuracy: 0.7640
Epoch 28/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0315 - accuracy: 0.8050 - val_loss: 0.0574 - val_accuracy: 0.8100
Epoch 29/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0313 - accuracy: 0.8096 - val_loss: 0.0510 - val_accuracy: 0.7260
Epoch 30/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0304 - accuracy: 0.8138 - val_loss: 0.0513 - val_accuracy: 0.7620
Epoch 31/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0302 - accuracy: 0.8138 - val_loss: 0.0663 - val_accuracy: 0.7660
Epoch 32/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0304 - accuracy: 0.8117 - val_loss: 0.0556 - val_accuracy: 0.7420
Epoch 33/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0293 - accuracy: 0.8144 - val_loss: 0.0610 - val_accuracy: 0.7820
Epoch 34/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0295 - accuracy: 0.8183 - val_loss: 0.0552 - val_accuracy: 0.8020
Epoch 35/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0300 - accuracy: 0.8107 - val_loss: 0.0642 - val_accuracy: 0.7880
Epoch 36/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0285 - accuracy: 0.8216 - val_loss: 0.0624 - val_accuracy: 0.7340
Epoch 37/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0286 - accuracy: 0.8166 - val_loss: 0.0672 - val_accuracy: 0.7660
Epoch 38/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0281 - accuracy: 0.8188 - val_loss: 0.0583 - val_accuracy: 0.7660
Epoch 39/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0282 - accuracy: 0.8158 - val_loss: 0.0798 - val_accuracy: 0.7440
Epoch 40/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0281 - accuracy: 0.8170 - val_loss: 0.0784 - val_accuracy: 0.7660
Epoch 41/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0286 - accuracy: 0.8097 - val_loss: 0.0624 - val_accuracy: 0.7820
Epoch 42/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0289 - accuracy: 0.8217 - val_loss: 0.0579 - val_accuracy: 0.7460
Epoch 43/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0264 - accuracy: 0.8239 - val_loss: 0.0767 - val_accuracy: 0.6900
Epoch 44/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0269 - accuracy: 0.8251 - val_loss: 0.0989 - val_accuracy: 0.7800
Epoch 45/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0263 - accuracy: 0.8270 - val_loss: 0.0880 - val_accuracy: 0.7720
Epoch 46/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0260 - accuracy: 0.8308 - val_loss: 0.0956 - val_accuracy: 0.7560
Epoch 47/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0264 - accuracy: 0.8296 - val_loss: 0.1114 - val_accuracy: 0.7560
Epoch 48/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0251 - accuracy: 0.8303 - val_loss: 0.1009 - val_accuracy: 0.7260
Epoch 49/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0270 - accuracy: 0.8212 - val_loss: 0.0769 - val_accuracy: 0.7820
Epoch 50/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0253 - accuracy: 0.8278 - val_loss: 0.1125 - val_accuracy: 0.7180
Epoch 51/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0249 - accuracy: 0.8324 - val_loss: 0.0833 - val_accuracy: 0.7060
Epoch 52/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0249 - accuracy: 0.8364 - val_loss: 0.1285 - val_accuracy: 0.7620
Epoch 53/150
282/282 [==============================] - 1s 3ms/step - loss: 0.0255 - accuracy: 0.8323 - val_loss: 0.1001 - val_accuracy: 0.7380
Epoch 54/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0241 - accuracy: 0.8368 - val_loss: 0.1436 - val_accuracy: 0.7460
Epoch 55/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0243 - accuracy: 0.8421 - val_loss: 0.1545 - val_accuracy: 0.7600
Epoch 56/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0234 - accuracy: 0.8421 - val_loss: 0.0896 - val_accuracy: 0.7020
Epoch 57/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0227 - accuracy: 0.8440 - val_loss: 0.1472 - val_accuracy: 0.7680

Epoch 58/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0237 - accuracy: 0.8388 - val_loss: 0.1795 - val_accuracy: 0.7340
Epoch 59/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0238 - accuracy: 0.8392 - val_loss: 0.1172 - val_accuracy: 0.7300
Epoch 60/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0221 - accuracy: 0.8518 - val_loss: 0.1528 - val_accuracy: 0.7340
Epoch 61/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0250 - accuracy: 0.8310 - val_loss: 0.0959 - val_accuracy: 0.8060
Epoch 62/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0229 - accuracy: 0.8434 - val_loss: 0.1243 - val_accuracy: 0.7460
Epoch 63/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0242 - accuracy: 0.8338 - val_loss: 0.1177 - val_accuracy: 0.7400
Epoch 64/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0224 - accuracy: 0.8493 - val_loss: 0.1373 - val_accuracy: 0.7080
Epoch 65/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0226 - accuracy: 0.8500 - val_loss: 0.1314 - val_accuracy: 0.7360
Epoch 66/150
282/282 [==============================] - 1s 3ms/step - loss: 0.0209 - accuracy: 0.8641 - val_loss: 0.1478 - val_accuracy: 0.7560
Epoch 67/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0196 - accuracy: 0.8703 - val_loss: 0.1559 - val_accuracy: 0.7300
Epoch 68/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0204 - accuracy: 0.8600 - val_loss: 0.1562 - val_accuracy: 0.7180
Epoch 69/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0210 - accuracy: 0.8610 - val_loss: 0.1313 - val_accuracy: 0.6960
Epoch 70/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0220 - accuracy: 0.8544 - val_loss: 0.1100 - val_accuracy: 0.7160
Epoch 71/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0217 - accuracy: 0.8580 - val_loss: 0.1637 - val_accuracy: 0.7600
Epoch 72/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0208 - accuracy: 0.8612 - val_loss: 0.1696 - val_accuracy: 0.7620
Epoch 73/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0190 - accuracy: 0.8713 - val_loss: 0.1439 - val_accuracy: 0.7160
Epoch 74/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0207 - accuracy: 0.8616 - val_loss: 0.1287 - val_accuracy: 0.7200
Epoch 75/150
282/282 [==============================] - 1s 3ms/step - loss: 0.0200 - accuracy: 0.8658 - val_loss: 0.1719 - val_accuracy: 0.7640
Epoch 76/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0192 - accuracy: 0.8757 - val_loss: 0.1810 - val_accuracy: 0.7620
Epoch 77/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0188 - accuracy: 0.8763 - val_loss: 0.1393 - val_accuracy: 0.7400
Epoch 78/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0202 - accuracy: 0.8704 - val_loss: 0.1679 - val_accuracy: 0.7660
Epoch 79/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0183 - accuracy: 0.8816 - val_loss: 0.1997 - val_accuracy: 0.7780
Epoch 80/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0178 - accuracy: 0.8862 - val_loss: 0.2151 - val_accuracy: 0.7760
Epoch 81/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0177 - accuracy: 0.8788 - val_loss: 0.2088 - val_accuracy: 0.7400
Epoch 82/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0185 - accuracy: 0.8764 - val_loss: 0.1677 - val_accuracy: 0.7040
Epoch 83/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0214 - accuracy: 0.8633 - val_loss: 0.1569 - val_accuracy: 0.7460
Epoch 84/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0177 - accuracy: 0.8849 - val_loss: 0.1583 - val_accuracy: 0.7500
Epoch 85/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0186 - accuracy: 0.8787 - val_loss: 0.1984 - val_accuracy: 0.7540
Epoch 86/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0168 - accuracy: 0.8917 - val_loss: 0.2116 - val_accuracy: 0.7520
Epoch 87/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0182 - accuracy: 0.8818 - val_loss: 0.2274 - val_accuracy: 0.7760
Epoch 88/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0167 - accuracy: 0.8917 - val_loss: 0.2312 - val_accuracy: 0.7660
Epoch 89/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0168 - accuracy: 0.8918 - val_loss: 0.2531 - val_accuracy: 0.7640
Epoch 90/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0195 - accuracy: 0.8734 - val_loss: 0.1470 - val_accuracy: 0.7020
Epoch 91/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0175 - accuracy: 0.8874 - val_loss: 0.2176 - val_accuracy: 0.7600
Epoch 92/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0187 - accuracy: 0.8819 - val_loss: 0.2123 - val_accuracy: 0.7580
Epoch 93/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0164 - accuracy: 0.8988 - val_loss: 0.2225 - val_accuracy: 0.7540
Epoch 94/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0167 - accuracy: 0.8932 - val_loss: 0.2597 - val_accuracy: 0.7260
Epoch 95/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0166 - accuracy: 0.8952 - val_loss: 0.2121 - val_accuracy: 0.7940
Epoch 96/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0182 - accuracy: 0.8870 - val_loss: 0.2078 - val_accuracy: 0.7480
Epoch 97/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0153 - accuracy: 0.9068 - val_loss: 0.2059 - val_accuracy: 0.7520
Epoch 98/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0153 - accuracy: 0.9068 - val_loss: 0.2040 - val_accuracy: 0.7360
Epoch 99/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0161 - accuracy: 0.8979 - val_loss: 0.2337 - val_accuracy: 0.7520
Epoch 100/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0158 - accuracy: 0.9012 - val_loss: 0.2724 - val_accuracy: 0.7860
Epoch 101/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0146 - accuracy: 0.9109 - val_loss: 0.2225 - val_accuracy: 0.7420
Epoch 102/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0137 - accuracy: 0.9153 - val_loss: 0.2275 - val_accuracy: 0.7460
Epoch 103/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0181 - accuracy: 0.8873 - val_loss: 0.2047 - val_accuracy: 0.7580
Epoch 104/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0138 - accuracy: 0.9166 - val_loss: 0.2828 - val_accuracy: 0.7720
Epoch 105/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0135 - accuracy: 0.9161 - val_loss: 0.2377 - val_accuracy: 0.7720
Epoch 106/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0139 - accuracy: 0.9133 - val_loss: 0.2867 - val_accuracy: 0.7600
Epoch 107/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0131 - accuracy: 0.9174 - val_loss: 0.2743 - val_accuracy: 0.7680
Epoch 108/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0163 - accuracy: 0.9010 - val_loss: 0.2599 - val_accuracy: 0.7660
Epoch 109/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0146 - accuracy: 0.9142 - val_loss: 0.1993 - val_accuracy: 0.7580
Epoch 110/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0152 - accuracy: 0.9114 - val_loss: 0.2626 - val_accuracy: 0.8020
Epoch 111/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0143 - accuracy: 0.9141 - val_loss: 0.2475 - val_accuracy: 0.7520
Epoch 112/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0135 - accuracy: 0.9196 - val_loss: 0.2272 - val_accuracy: 0.7660
Epoch 113/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0147 - accuracy: 0.9104 - val_loss: 0.2087 - val_accuracy: 0.7720
Epoch 114/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0126 - accuracy: 0.9247 - val_loss: 0.3010 - val_accuracy: 0.7680

Epoch 115/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0167 - accuracy: 0.9010 - val_loss: 0.2108 - val_accuracy: 0.7900
Epoch 116/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0132 - accuracy: 0.9212 - val_loss: 0.2663 - val_accuracy: 0.7660
Epoch 117/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0120 - accuracy: 0.9313 - val_loss: 0.3084 - val_accuracy: 0.7960
Epoch 118/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0133 - accuracy: 0.9192 - val_loss: 0.2689 - val_accuracy: 0.7660
Epoch 119/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0132 - accuracy: 0.9237 - val_loss: 0.2454 - val_accuracy: 0.7640
Epoch 120/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0126 - accuracy: 0.9276 - val_loss: 0.3009 - val_accuracy: 0.7640
Epoch 121/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0109 - accuracy: 0.9373 - val_loss: 0.3455 - val_accuracy: 0.7620
Epoch 122/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0123 - accuracy: 0.9277 - val_loss: 0.3121 - val_accuracy: 0.7560
Epoch 123/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0137 - accuracy: 0.9242 - val_loss: 0.2242 - val_accuracy: 0.7240
Epoch 124/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0132 - accuracy: 0.9208 - val_loss: 0.2932 - val_accuracy: 0.7620
Epoch 125/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0109 - accuracy: 0.9370 - val_loss: 0.3656 - val_accuracy: 0.7420
Epoch 126/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0125 - accuracy: 0.9250 - val_loss: 0.2723 - val_accuracy: 0.7660
Epoch 127/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0135 - accuracy: 0.9199 - val_loss: 0.2822 - val_accuracy: 0.7820
Epoch 128/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0117 - accuracy: 0.9356 - val_loss: 0.1952 - val_accuracy: 0.7500
Epoch 129/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0138 - accuracy: 0.9216 - val_loss: 0.2565 - val_accuracy: 0.7860
Epoch 130/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0100 - accuracy: 0.9444 - val_loss: 0.2714 - val_accuracy: 0.7960
Epoch 131/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0117 - accuracy: 0.9341 - val_loss: 0.3070 - val_accuracy: 0.7820
Epoch 132/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0106 - accuracy: 0.9444 - val_loss: 0.2301 - val_accuracy: 0.7540
Epoch 133/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0170 - accuracy: 0.9082 - val_loss: 0.1547 - val_accuracy: 0.7680
Epoch 134/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0113 - accuracy: 0.9400 - val_loss: 0.2517 - val_accuracy: 0.7860
Epoch 135/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0086 - accuracy: 0.9521 - val_loss: 0.3018 - val_accuracy: 0.7900
Epoch 136/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0127 - accuracy: 0.9306 - val_loss: 0.2921 - val_accuracy: 0.7660
Epoch 137/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0119 - accuracy: 0.9349 - val_loss: 0.2607 - val_accuracy: 0.7700
Epoch 138/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0111 - accuracy: 0.9383 - val_loss: 0.2478 - val_accuracy: 0.7560
Epoch 139/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0100 - accuracy: 0.9451 - val_loss: 0.3360 - val_accuracy: 0.7760
Epoch 140/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0086 - accuracy: 0.9517 - val_loss: 0.3448 - val_accuracy: 0.7960
Epoch 141/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0138 - accuracy: 0.9227 - val_loss: 0.2244 - val_accuracy: 0.7540
Epoch 142/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0110 - accuracy: 0.9406 - val_loss: 0.2994 - val_accuracy: 0.7840
Epoch 143/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0107 - accuracy: 0.9408 - val_loss: 0.2777 - val_accuracy: 0.7840
Epoch 144/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0109 - accuracy: 0.9379 - val_loss: 0.2838 - val_accuracy: 0.7460
Epoch 145/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0093 - accuracy: 0.9496 - val_loss: 0.3328 - val_accuracy: 0.7720
Epoch 146/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0114 - accuracy: 0.9419 - val_loss: 0.2565 - val_accuracy: 0.7620
Epoch 147/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0077 - accuracy: 0.9574 - val_loss: 0.3655 - val_accuracy: 0.7940
Epoch 148/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0112 - accuracy: 0.9417 - val_loss: 0.2042 - val_accuracy: 0.7440
Epoch 149/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0119 - accuracy: 0.9329 - val_loss: 0.3164 - val_accuracy: 0.7920
Epoch 150/150
282/282 [==============================] - 1s 2ms/step - loss: 0.0110 - accuracy: 0.9427 - val_loss: 0.2815 - val_accuracy: 0.7680